.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #050f2a;
  min-height: 5vh;
  padding: 0px;
  color: white;
}

.product-header, .description, footer {
  background-color: #01193b;
  
}




