.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #050f2a;
  min-height: 5vh;
  padding: 0px;
  color: white;
}

.product-image {
  width: 100%;

}

.product-image > img {
  width: 75%;

}

.product-header, .description, footer {
  background-color: #01193b;
  color: white;
  padding: 25px;
  
  
}

.product-header, .description,.specifications, footer {
  text-align: left;
}

.product-header > h2 {
  font-size: 35px;
  margin: 0;
}

.product-header > p {
  color: #36598d;
}


.add-to-cart > h3 {
  color: white;
  font-size: 42px;
}

#add-to-cart-button {
  width: 80%;
  padding: 20px;
  font-size: 30px;
  background-image: linear-gradient(180deg, #ff60a8 50%, #fb1a7b 50%);
  border-radius: 10px;
  color: white;
  border: none;
  margin-bottom: 30px;
}

.specifications {
  color: white;
  padding: 30px;
}

.specifications > h3, .description > h3 {
  font-size: 28px;
}

th,td {
  border-bottom: 1px solid #01193b;
 
}

th {
  width: 40%;
  padding: 10px;
}

td {
  width: 60%;
  padding: 10px;
}



.product-header > img {
  width: 80%;
  z-index: 5000;
}

footer {
  color: #8b9fbe;
}

.quant-div {
  display: flex;
  text-align: center;
  width: 100%;
}

.product-value {
  width: 50%;
  color: white;
  font-size: 40px;
}

.button__wrapper {
  display: flex;
  font-size: 40px;
  color: white;
  width: 50%;
  justify-content: center;
  align-items: center;
  
 }

.button__wrapper > button {
  color: white;
  background-color: #1a2a43;
  border: none;
  border-radius: 5px;
  font-size: 40px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  

}

.button__wrapper > button:hover {
  background-color: #36598d;
  transition: 0.3s;
}

.button__wrapper > h4 {
  height: 50px;
  margin: 0;
  padding: 2px;
  color: white;
}

#modal {
display: none;
position: absolute;
margin-left: auto;
margin-right: auto;
margin-top: 250px;
top: 0;
left: 0;
right: 0;
text-align: center;
z-index: 5000;
width: 25%;
border: 3px solid #fb1a7b;
background-color: #050f2a;
color: white;


}